<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<attributes>
    <attribute>
        <source>vCOL RowTag</source>
        <dest></dest>
    </attribute>
    <attribute>
        <source>Level</source>
        <dest>Level</dest>
    </attribute>
    <attribute>
        <source>SeqSpa</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>Pos</source>
        <dest>Position</dest>
    </attribute>
    <attribute>
        <source>AssyDsc1</source>
        <dest></dest>
    </attribute>
    <attribute>
        <source>AssyDsc2</source>
        <dest></dest>
    </attribute>
    <attribute>
        <source>Dwg</source>
        <dest>Drawing Number</dest>
    </attribute>
    <attribute>
        <source>AssyID</source>
        <dest></dest>
    </attribute>
    <attribute>
        <source>ItemDsc1</source>
        <dest>Title</dest>
    </attribute>
    <attribute>
        <source>ItemDsc2</source>
        <dest>Title</dest>
    </attribute>
    <attribute>
        <source>Material</source>
        <dest>Material</dest>
    </attribute>
    <attribute>
        <source>Size</source>
        <dest>Size</dest>
    </attribute>
    <attribute>
        <source>Type</source>
        <dest>Standard</dest>
    </attribute>
    <attribute>
        <source>ItemId</source>
        <dest>name</dest>
    </attribute>
    <attribute>
        <source>AltItemId</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>PcsNo</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>CustItemId</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>QtyLine</source>
        <dest>Qty</dest> <!-- Qty/NA-->
    </attribute>
    <attribute>
        <source>QtyAssy</source>
        <dest>Qty</dest> <!-- Qty/NA -->
    </attribute>
    <attribute>
        <source>QtyRec</source>
        <dest></dest>
    </attribute>
    <attribute>
        <source>QtyWare</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>UnitBom</source>
        <dest>Unit</dest>
    </attribute>
    <attribute>
        <source>UnitSales</source>
        <dest>Unit</dest>
    </attribute>
    <attribute>
        <source>SlsPrice</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>SlsCur</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>SlsPriceMtd</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>SlsDisc</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>SlsDiskMtd</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>DelDays</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>ABC</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>ABCText1</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>ABCText2</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>Comment</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>CustMacNo</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>CustMacCode</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>StdCostPrice</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>StdCostCur</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>StdCostDate</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>PurPrice</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>PurCur</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>SuppNo</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>SuppName</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>ContrPrice</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>ContrCur</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>ItemGroup</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>ItemType</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>SeqRow</source>
        <dest></dest>
    </attribute>
    <attribute>
        <source>SpPos</source>
        <dest>NA</dest>
    </attribute>
    <attribute>
        <source>PseudoRowInf</source>
        <dest>NA</dest>
    </attribute>
</attributes>