<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=MAIL_SUBJECT%></title>
        <style>
            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                font-weight: bold;
                font-size: 10px;
            }

            .footer mark {
                font-size: 12px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            Hello,
            <br />
            Background Process for large report has been completed for this item.<br />
            <b><%=ENV_NAME%>][<%=ITEM_NAME%>] can't be generated. Please check the enovia rest service log<br />
            Thanks.<br/>
        </div>
        <div class="footer">
            This email may contain confidential and/or legally privileged information. For any mismatch , please inform concern person immediately
        </div>
    </body>
</html>
